<div class="row featurette" id="who-we-are">
  <div class="col-md-7">
    <h2 class="featurette-heading">Who We Are</h2>
    <p class="lead">The Puff Puff Dragon Boat Team is comprised of paddlers from varying athletic abilities,
      backgrounds and interests. These individuals have joined together to actively train in the sport of dragon boat racing,
      enjoy the camaraderie and bonding of being in a team environment, and further encourage the pursuit for health and fitness.
      We are a fun team that distinguishes ourselves through paddling with passion, fun, and integrity.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('a_frame.jpeg')%>" >
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="our-mission-statement">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('engine_room_nyc.jpeg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Our Mission Statement</h2>
    <p class="lead">
      We the Puff Puff Dragons believe in the following objectives:
      <ul>
        <li>Pursuit of excellence:
          <ul>
            <li>Strive for championship in the New York Hong Kong Dragon Boat Festival</li>
            <li>Obtain podium finish in all events</li>
            <li>Continuous development through offered training opportunities</li>
            <li>Grow our team through recruitment of talented and committed athletes</li>
          </ul>
        </li>
        <li>All members of the club are treated with equal respect and integrity</li>
        <li>Communication: Expectations are clear and communicated across all team members concerning participation, training, selection, and costs of the season.</li>
        <li>Assist in the development of all participants regardless of level (introductory, novice, advanced, recreational and/or competitive)</li>
        <li>Long term athlete development and team commitment</li>
      </ul>
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="achievements">
  <div class="col-md-7">
    <h2 class="featurette-heading">Achievements</h2>
    <p class="lead">
    <ul>
      <li>2013 Season
        <ul>
          <li>Team of the Year - <a href="http://www.hkdbf-ny.org/home.php?choice=results" target="_blank">Hong Kong Dragon Boat Festival in New York</a></li>
          <li>Heritage Mixed Green Overall Champion - <a href="http://www.hkdbf-ny.org/home.php?choice=results" target="_blank">Hong Kong Dragon Boat Festival in New York</a></li>
          <li>Bronze - Premier Mixed A Major - <a href="http://www.dragonboatdc.com/" target="_blank">Washington D.C. Dragon Boat Festival</a></li>
          <li>Bronze - Major Championship - <a href="http://www.springfielddragonboat.com/" target="_blank">Springfield Dragon Boat Festival</a></li>
        </ul>
      </li>
      <li>2012 Season
        <ul>
          <li>Silver - 250M Advanced Mixed Division - <a href="http://www.hkdbf-ny.org/home.php?choice=results" target="_blank">Hong Kong Dragon Boat Festival in New York</a></li>
          <li>Silver - Mixed A Division - <a href="http://fingerlakesdragonboat.org/" target="_blank">Finger Lakes International Dragon Boat Festival</a></li>
        </ul>
      </li>
    </ul>
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('medals.jpg')%>" >
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="what-is-dragonboat">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('ithaca.jpg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">What is Dragon Boat?</h2>
    <p class="lead">A dragon boat is a human powered boat (Paddled Water Craft) traditionally made of teak wood (in modern day the sport has seen the surge of boats made with fiberglass propelled by high tech carbon fiber paddles) in various designs and sizes. It is one of a family of Traditional Long Boats found throughout Asia, Africa and the Pacific Islands. The boat is used in dragon boat racing which originated in China over 2000 years ago.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="dragonboating-worldwide">
  <div class="col-md-7">
    <h2 class="featurette-heading">Dragon boating worldwide.</h2>
    <p class="lead">Today, dragon boat is one of the world's fastest growing water sports. It is currently the second most popular team sport in the world; only soccer surpasses it. There are nearly 50 million people who currently take part annually in dragon boat races worldwide. Dragon boat races are held in countries all around the world. The majority of the racers are in China and the Far East. It is estimated that over 150,000 participants are in Europe, 50,000 in North America, and 20,000 in Australia.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('idbf_2013.jpg')%>" >
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="makeup-of-a-team">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('powerpuffs.jpg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Everyone can paddle.</h2>
    <p class="lead">It is a sport suitable for all age groups being non-impact and less injury prone. Participating paddlers vary from teenagers to paddlers aged 60 and over. A boat can hold a maximum of 20 paddlers, a steersperson (cox) and a drummer. The twenty paddlers move in unison, utilizing synchronicity as opposed to strength, in order to give the boat its speed.</p>
  </div>
</div>


 <!-- Marketing messaging and featurettes
 ================================================== -->
 <!-- Wrap the rest of the page in another container to center all the content. -->

 <div class="container marketing">

   <!-- FOOTER -->
   <footer>
     <p class="pull-right"><a href="#">Back to top</a></p>
     <p>&copy; 2013 Puff Puff Dragons, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
   </footer>

 </div><!-- /.container -->
