<div class="row featurette" id="who-we-are">
  <div class="col-md-7">
    <h2 class="featurette-heading">Join Us!</h2>
    <p class="lead">We are always looking for new paddlers at any age and skill level! Our team has over 100 members, all of whom live in the NYC Metropolitan area and New Jersey. All of our members are 18+ yrs old but youth members are always welcome (we just ask that you and your parental guardian <%= link_to "sign the club waiver", asset_path('WFMCC_Electronic_Waiver.pdf') %>). We compete in the Adult/Premier divisions in numerous regattas and festivals in the US and Canada.
      There are plenty of paddling opportunities for those who want to enjoy the sport recreationally and for those who want to compete.
      Both of our coaches are experienced Team USA Coaches and have extensive paddling experience. They have competed internationally and have been coaching for many many years.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('springfield.jpg')%>" >
  </div>
</div>

<hr class="featurette-divider">

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-3">
      <img class="img-circle" src="<%= asset_path('james.jpg')%>" >
      <h2>James Ma</h2>
      <p>Coach and Founder. "Finish it again!"</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="img-circle" src="<%= asset_path('tony.jpg')%>" >
      <h2>Tony Soukhaseum</h2>
      <p>Coach and High Performance Development. "D around!"</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="img-circle" src="<%= asset_path('amanda.jpg')%>" >
      <h2>Amanda Li</h2>
      <p>Team Captain. "what the what?"</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <img class="img-circle" src="<%= asset_path('phoebe.jpg')%>" >
      <h2>Phoebe Fong</h2>
      <p>Treasurer and Founding Member. "xP"</p>
    </div><!-- /.col-lg-3 -->
  </div><!-- /.row -->

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->
