<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">

  <title>Puff Puff Dragon Boat Club</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body >

  <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to "Puff Puff Dragons", root_path, :class => 'navbar-brand' %>

            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
                <li class="dropdown">
                  <a id="drop-about" role="button" class="dropdown-toggle" data-toggle="dropdown" href="/about">About <b class="caret"></b></a>
                  <ul id="about-menu" class="dropdown-menu" role="menu" aria-labelledby="drop-about">
                    <li role="presentation"><%= link_to "Who We Are", about_path + "#who-we-are" %></li>
                    <li role="presentation"><%= link_to "Our Mission Statement", about_path + "#our-mission-statement" %></li>
                    <li role="presentation"><%= link_to "Achievements", about_path + "#achievements" %></li>
                    <li role="presentation"><%= link_to "What is Dragon Boat", about_path + "#what-is-dragonboat" %></li>
                    <li role="presentation"><%= link_to "Dragonboating Worldwide", about_path + "#dragonboating-worldwide" %></li>
                    <li role="presentation"><%= link_to "Makeup of a Team", about_path + "#makeup-of-a-team" %></li>
                  </ul>
                </li>
                <li class="dropdown <%= 'active' if current_page?(join_path) %>">
                  <a id="drop-join" role="button" class="dropdown-toggle" data-toggle="dropdown" href="<%= join_path %>">Join <b class="caret"></b></a>
                  <ul id="join-menu" role="menu" class="dropdown-menu" aria-labelledby="drop-join">
                    <li role="presentation"><%= link_to "Join Us", join_path %></li>
                    <li role="presentation"><%= link_to "Our Staff", join_path + "#staff" %></li>
                    <li role="presentation"><%= link_to "Waiver", asset_path('WFMCC_Electronic_Waiver.pdf') %></li>
                    <li role="presentation"><%= link_to "Team Questionnaire", asset_path('PPD_Team_Questionnaire.pdf') %></li>
                  </ul>
                </li>
                <li class="dropdown <%= 'active' if current_page?(training_path) %>">
                  <a id="drop-training" role="button" data-toggle="dropdown" href="<%= training_path %>">Training <b class="caret"></b></a>
                  <ul id="training-menu" class="dropdown-menu" role="menu" aria-labelledby="drop-training">
                    <li role="presentation"><%= link_to "Water Practice", training_path+"#water-practice", :role => 'menuitem' %></li>
                    <li role="presentation"><%= link_to "Outrigger Canoe", training_path+"#outrigger-canoe", :role => 'menuitem' %></li>
                    <li role="presentation"><%= link_to "Land Practice", training_path+"#land-practice", :role => 'menuitem' %></li>
                    <li role="presentation"><%= link_to "ERG Rowing", training_path+"#erg-rowing", :role => 'menuitem' %></li>
                  </ul>
                </li>
                <li class="dropdown <%= 'active' if current_page?(schedule_path) %>">
                  <a id="drop-schedule" role="button" data-toggle="dropdown" href="<%= schedule_path %>">Schedule <b class="caret"></b></a>
                  <ul id="schedule-menu" class="dropdown-menu" role="menu" aria-labelledby="drop-schedule">
                    <li role="presentation"><%= link_to "Practices", schedule_path+"#practices", :role => 'menuitem' %></li>
                    <li role="presentation"><%= link_to "Races", schedule_path+"#races", :role => 'menuitem' %></li>
                  </ul>
                </li>
                <li class="<%= 'active' if current_page?(media_path) %>"><%= link_to "Media", media_path %></li>
                <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
                <li><a href="http://worldsfairmarinacanoeclub.com" target="_blank">OC Club</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
<%#= render 'layouts/messages' %>

  <%= yield %>

  <!-- FOOTER -->
   <footer>
     <p class="pull-right"><a href="#">Back to top</a></p>
     <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Puff Puff Dragons</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://amanda.li" property="cc:attributionName" rel="cc:attributionURL">Amanda Li</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
   </footer>


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>
