<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">

  <title>Puff Puff Dragon Boat Club</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body >

  <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to "Puff Puff Dragons", root_path, :class => 'navbar-brand' %>

            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Home", root_path %></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="/about">About <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Who We Are", about_path + "#who-we-are" %></li>
                    <li><%= link_to "Our Mission Statement", about_path + "#our-mission-statement" %></li>
                    <li><%= link_to "Achievements", about_path + "#achievements" %></li>
                    <li><%= link_to "What is Dragon Boat", about_path + "#what-is-dragonboat" %></li>
                    <li><%= link_to "Dragonboating Worldwide", about_path + "#dragonboating-worldwide" %></li>
                    <li><%= link_to "Makeup of a Team", about_path + "#makeup-of-a-team" %></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="/join">Join <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Join Us", join_path %></li>
                    <li><%= link_to "Waiver", asset_path('WFMCC_Electronic_Waiver.pdf') %></li>
                    <li><%= link_to "Team Questionnaire", asset_path('PPD_Team_Questionnaire.pdf') %></li>
                  </ul>
                </li>
                <li><%= link_to "Training", training_path %></li>
                <li><a href="#contact">Schedule</a></li>
                <li><a href="#contact">Media</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#">OC Club</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
<%#= render 'layouts/messages' %>

  <%= yield %>


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
